@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hacer que la scrollbar sea invisible */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}